@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'Sansation';
    src:url("assets/fonts/Sansation-Bold-webfont.eot");
    src:url("assets/fonts/Sansation-Bold-webfont.eot?iefix") format("embedded-opentype"),
        url("assets/fonts/Sansation-Bold-webfont.woff") format("woff"),
        url("assets/fonts/Sansation-Bold-webfont.ttf") format("truetype"),
        url("assets/fonts/Sansation-Bold-webfont.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
    
@font-face{
    font-family:'Sansation';
    src:url("assets/fonts/Sansation-Regular-webfont.eot");
    src:url("assets/fonts/WebFont.eot?iefix") format("embedded-opentype"),
        url("assets/fonts/Sansation-Regular-webfont.woff") format("woff"),
        url("assets/fonts/Sansation-Regular-webfont.ttf") format("truetype"),
        url("assets/fonts/Sansation-Regular-webfont.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('assets/fonts/HindSiliguri-Light.eot');
    src: url('assets/fonts/HindSiliguri-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HindSiliguri-Light.woff2') format('woff2'),
        url('assets/fonts/HindSiliguri-Light.woff') format('woff'),
        url('assets/fonts/HindSiliguri-Light.ttf') format('truetype'),
        url('assets/fonts/HindSiliguri-Light.svg#HindSiliguri-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('assets/fonts/HindSiliguri-Bold.eot');
    src: url('assets/fonts/HindSiliguri-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HindSiliguri-Bold.woff2') format('woff2'),
        url('assets/fonts/HindSiliguri-Bold.woff') format('woff'),
        url('assets/fonts/HindSiliguri-Bold.ttf') format('truetype'),
        url('assets/fonts/HindSiliguri-Bold.svg#assets/fontsHindSiliguri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('assets/fonts/HindSiliguri-SemiBold.eot');
    src: url('assets/fonts/HindSiliguri-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HindSiliguri-SemiBold.woff2') format('woff2'),
        url('assets/fonts/HindSiliguri-SemiBold.woff') format('woff'),
        url('assets/fonts/HindSiliguri-SemiBold.ttf') format('truetype'),
        url('assets/fonts/HindSiliguri-SemiBold.svg#assets/fontsHindSiliguri-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('assets/fonts/HindSiliguri-Medium.eot');
    src: url('assets/fonts/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HindSiliguri-Medium.woff2') format('woff2'),
        url('assets/fonts/HindSiliguri-Medium.woff') format('woff'),
        url('assets/fonts/HindSiliguri-Medium.ttf') format('truetype'),
        url('assets/fonts/HindSiliguri-Medium.svg#assets/fontsHindSiliguri-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('assets/fonts/HindSiliguri-Regular.eot');
    src: url('assets/fonts/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HindSiliguri-Regular.woff2') format('woff2'),
        url('assets/fonts/HindSiliguri-Regular.woff') format('woff'),
        url('assets/fonts/HindSiliguri-Regular.ttf') format('truetype'),
        url('assets/fonts/HindSiliguri-Regular.svg#assets/fontsHindSiliguri-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Regular.eot');
    src: url('assets/fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('assets/fonts/LibreBaskerville-Regular.woff') format('woff'),
        url('assets/fonts/LibreBaskerville-Regular.ttf') format('truetype'),
        url('assets/fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Bold.eot');
    src: url('assets/fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('assets/fonts/LibreBaskerville-Bold.woff') format('woff'),
        url('assets/fonts/LibreBaskerville-Bold.ttf') format('truetype'),
        url('assets/fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Italic.eot');
    src: url('assets/fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('assets/fonts/LibreBaskerville-Italic.woff') format('woff'),
        url('assets/fonts/LibreBaskerville-Italic.ttf') format('truetype'),
        url('assets/fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}





input {
    @apply placeholder-theme-gray focus:ring-0 !important;
}

a {
    @apply hover:text-theme-teal;
}